<!DOCTYPE html>
<html>
  <head>
    <%
      var page = page || {};
      page.title = "Apps";

      links = [
        { title: "Recipe Beautifier", href: "/apps/recipe", desc: "Adds printer-friendly styles to user-provided values to make a clean, readable recipe" }
      ];
    %>
    <% include ../partials/head-tags %>
    <style>

    </style>
  </head>

  <body>
    <div>
      <% include ../partials/header %>
      <main>
        <div>
          <h1>Apps</h1>
          <p>
            The following is a list of the apps I have on this site. More
            information about each app is on its page.
          </p>
          <ul class="arrow-list">
            <% for (var i = 0, link = links[i]; i < links.length; i++) { %>
              <li>
                <a href="<%- link.href %>"><%- link.title %></a>
                <div class="more-link">
                  <span class="fake-link">More...</span>
                  <span class="hidden"><%- link.desc %></span>
                </div>
              </li>
            <% } %>
          </ul>
        </div>
      </main>
      <% include ../partials/footer %>
    </div>

    <script type="text/javascript">
      Array.from(document.querySelectorAll('.more-link')).forEach(function(elem) {
        elem.addEventListener('click', function() {
          var anchor = this.querySelector('span.fake-link');
          var span = this.querySelectorAll('span')[1];
          if (anchor.innerHTML === 'More...') {
            anchor.innerHTML = 'Hide';
            removeClass(span, 'hidden');
          } else {
            anchor.innerHTML = 'More...';
            addClass(span, 'hidden');
          }
        })
      })
    </script>
  </body>
</html>
