extends /views/partials/layout.pug

prepend head
  - page.title = 'Apps';

block content
  h1 Apps
  p.
    Welcome to the landing page for my Apps section! This page
    will contain links to any single page webapps I create and
    add to this site. Some might be something that could be added
    as a widget to any website, others might be the result of me
    trying to learn a new API or concept, and still others could
    be something I created to meet a specific need for a friend
    or family member. As always, reach out to me using the icons
    in the footer below if you have any questions, feedback, or
    suggestions.
  //- NOTE: Use .arrow-list to style list of apps