<footer>
  <div>
    All content (unless otherwise noted) is created by Ethan Stewart. &copy;&nbsp;<%- new Date().getFullYear() %>
    <div>
      <ul id="quick-links">
        <li><a href="/apps">Apps</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/cit261">CIT 261</a></li>
      </ul>
    </div>
  </div>
</footer>
