header.print-hide(role="banner")
  #logo
    a(href="/")
      = '{'
      img(
        src="/assets/img/8-bit-logo.png"
        alt="Logo image"
        height="100"
        width="100"
      )
      = '}'
include nav.pug