<nav class="main-nav">
  <div>
    <ul>
      <li><a href="/apps">Apps</a></li>
      <li><a href="/code">Code</a></li>
      <li><a href="/blog">Blog</a></li>
      <li><a href="/about">About</a></li>
    </ul>
  </div>
</nav>
