<!DOCTYPE html>
<html>
  <head>
    <%
      var page = page || {};
      page.title = "Not Found";
    %>
    <% include ../partials/head-tags %>
    <style>
    </style>
  </head>

  <body>
    <div>
      <% include ../partials/header %>
      <main>
        <div>
          <h1>Error 404: Not Found</h1>
        </div>
      </main>
      <% include ../partials/footer %>
    </div>
  </body>
</html>
