<!DOCTYPE html>
<html>
  <head>
    <%
      var page = page || {};
      page.title = "CIT 261: DOM Manipulation";
    %>
    <% include ../partials/head-tags %>
    <style>
    </style>
  </head>

  <body>
    <div>
      <% include ../partials/header %>
      <main>
        <div>
          <h1>Cit 261: DOM Manipulation</h1>
        </div>
      </main>
      <% include ../partials/footer %>
    </div>

    <script>
    </script>
  </body>
</html>
