extends /views/partials/layout.pug

prepend head
  - page.title = 'Code';

block content
  h1 Code
  p.
    Welcome to the landing page for my Code section! This page will
    contain links to pages containing snippets of code I find useful
    and worth sharing. Since I'm a web developer, most of it will
    probably have something to do with web development, but I also
    have some ideas for snippets such as BASH scripts that should
    have a wider application for more people. I will probably do
    some sort of basic categorization, but there will be two different
    types of links regardless of how I structure the page: blue links
    will lead to a page on this site containing the source code and a
    working demo (or link to a working demo), and green links will
    open a page on GitHub, either with the source code if its a single
    file, or the uppermost folder if its a bigger project or library.