<!DOCTYPE html>
<html>
  <head>
    <%
      var page = page || {};
      page.title = "Code";
    %>
    <% include ../partials/head-tags %>
  </head>

  <body>
    <div>
      <% include ../partials/header %>
      <main>
        <div>
          <h1>Code</h1>
          <% include ../partials/coming-soon %>
        </div>
      </main>
      <% include ../partials/footer %>
    </div>
  </body>
</html>
