extends /views/partials/layout.pug

prepend head
  - page.title = 'About';

block content
  h1 About
  p.
    In the near future (as in, this is the next part of my website
    that I will be working on), this page will contain information
    about me, about this site (such as technologies/libraries used
    and so on), and best ways to contact me.