extends /views/partials/layout.pug

prepend head
  - page.title = 'Blog';

block content
  h1 Blog
  p.
    Welcome to the landing page for my Blog section! At the time
    of writing this, I haven't fully fleshed out how I want to
    do this section, but I do know that I want to start writing about
    some of the things I learn as I continue working on improving as
    a web developer. I might add some sort of CMS here and maintain
    my own blogs, I might decide to make all my posts on Medium and
    use this page to display a list of all those posts, or I could
    end up going a different direction I haven't thought of yet. As
    always, feel free to reach out to me with the icons in the footer
    if you want to ask me any questions or provide any feedback/suggestions.