footer
  background-color $primary-blue
  color white
  font-family $heading-font
  padding 15px 30px

  a
    color white
    cursor pointer

    &:visited
      // color white

    &:hover
      text-decoration underline
  
  & > div
    display flex
    flex-direction column
    max-width 500px

    & > div
      text-align center

    .icon-credit
      font-size 0.65rem

    .social
      display flex
      justify-content space-around
      list-style none
      margin 15px 0
      -webkit-padding-start 0

      img
        width 25px