header
  background-color $primary-blue
  color white
  font-family "Courier New", Courier, monospace
  margin 0px
  padding 15px 30px
  text-shadow 2px 2px 4px black

  +break($small)
    display flex
    align-items center

  #logo
    display flex
    justify-content center

    a
      color white
      display flex
      font-size 6em
      margin auto
      padding 5px
      text-decoration none

      &::before
        content '{'
      &::after
        content '}'

      img
        margin auto
        max-width 150px
        size(50%)