nav {
  /*background-color: #114477;*/
  background-color: #002265;

  div {
    border-top: 2px solid #D0D0D0;
    margin: auto;
    padding: 25px;
    width: 85%;

    ul {
      list-style-type: none;
      margin: auto;
      overflow: hidden;
      -webkit-padding-start: 0px;

      display: flex;
      justify-content: space-around;

      li {
        font-family: "Trebuchet MS", Helvetica, sans-serif;
        font-size: 16pt;
        letter-spacing: 2px;
        text-shadow: 1.5px 1.5px 3px black;
        text-align: center;
        width: 25%;

        a {
          color: white;
          cursor: pointer;
          text-decoration: none;
          text-transform: uppercase;

          &:hover,
          &:focus {
            font-weight: 900;
            letter-spacing: 5px;
          } /* :hover, :focus */

          &:focus {
            outline: none;
            text-decoration: underline;
          } /* :focus */

          &:visited {
            color: white;
          } /* :visited */
        } /* a */
      } /* li */
    } /* ul */
  } /* div */
} /* nav */
