size(w, h = w)
  height h
  width w

@media all
  ul, ol
    &.no-pad
      -webkit-padding-start 0
      -moz-padding-start 0
      -ms-padding-start 0
      -o-padding-start 0

      list-style none
  
  .arrow-list
    list-style none
    margin-left -15px

    li::before
      content "\27A5\00a0"

  .custom-button
    background-color $primary-blue
    border none
    border-radius 6px
    cursor pointer
    color white
    font-size 1.2em
    margin 10px
    padding 7px
    text-align center
    text-shadow 1.5px 1.5px 3px #000

  .error
    color red

  .fake-link
    border none
    background inherit
    color $primary-blue
    cursor pointer
    font-family $heading-font
    font-size 13pt
    text-decoration underline
  
  .flex
    display flex

    &.sp-between
      justify-content space-between
    
    &.sp-around
      justify-content space-around

  .force-block
    display block

  .hide
    display none !important

  .invis
    visibility hidden !important

    & > *
      visibility hidden !important

  .spinner
    border 16px solid #f3f3f3
    border-top 16px solid $primary-blue
    border-right 16px solid $primary-blue
    border-radius 50%
    margin 10px auto
    width 120px
    height 120px
    animation spin 1.5s linear infinite

@keyframes spin
  0%
    transform rotate(0deg)
  100%
    transform rotate(360deg)
