// Colors
$primary-blue = #002265;

// Layout
$doc-min-height = 650px
$tiny = 600px
$small = 768px
$normal = 980px
$large = 1200px

// Typography
$primary-font = Verdana, sans-serif
$heading-font = "Trebuchet MS", sans-serif